<!DOCTYPE html>

{% load staticfiles %}

<html>

	<head> 
		<title>Rango</title> 
	</head>
	
	<body> 
		<h1>Hey there m8!</h1> 
		<div> How's it going?<br /> 
		<strong>{{ boldmessage }}</strong><br /> 
		</div> 
		<div> 
			This tutorial has been put together by', {{response.contest}}
			<a href="/rango/">Index</a><br /> 
			<img src="{% static "images/mighty_cat.jpg" %}"
				 alt="Hehehehehe" width="300" height="400"/>
			<!-- New line -->
			<p>This tutorial has been put together by Alberto Prudencio y David Vicente </p>
		</div> 
	</body>
	
</html>
