<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
		
		 {% if user.is_authenticated %}
			<h1>Add a Page</h1>

			<form id="page_form" method="post" action="/rango/category/{{category.slug}}/add_page/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}<br />
                {{ field.help_text }}<br />
                {{ field }}<br />
            {% endfor %}

           <br /> <input type="submit" name="submit" value="Create Page" />
        </form>
		 {% else %}
		  Go back <a href = "/rango/"> Press here</a>
		 {% endif %}
		
        
    </body>

</html>
